.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  /* padding: 20px; */
}

.btn {
  padding-bottom: 20px;
  min-width: 1000px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.padding {
  /* margin-left: 96px; */
  /* margin-top: 30px; */
}

.App-link {
  color: #61dafb;
}

.note-btn {
  color: blue;
  font-size: 12px;
  font-style: italic;
  float: left
}

.show-error {
  /* padding: 3px 0 5px; */
  color: red;
  font-size: 12px;
  font-style: italic;
  float: left
}

.mail,
.code-diff,
.code-error {
  display: none;
}

.padding {
  padding: 3px 0;
}

.text-padding {
  padding-left: 30px
}

.btn-padding {
  padding-right: 10px;
}

.search {
  float: right;
}

.dob {
  padding-top: 8px;
  min-width: 250px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
